.cajita{
    height: 150px;
    width: 150px;
}

.rojo{
    background-color: rgb(199, 3, 3);
}

.amarillo{
    background-color: rgb(233, 233, 40);
}

.negro{
    background-color: black;
    /* relative,  */
    position: absolute;
    /* top, bottom, left, right */
    /* top: 0px; */
    bottom: 10px;
    /* left: 0; */
    right: 0;
}

.diferente{
    position: absolute;
    top: 0;
    left: 0;
}

.padre{
    height: 250px;
    width: 500px;
    position: relative;
    /* top, bottom, left, right */
    background-color: aqua;
    left: 400px;
    top: 55px;
}

.blanco{
    background-color: blueviolet;
    position: absolute;
    left: 300px;
}

.verde{
    background-color: green;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
}

.gris{
    background-color: gray;
    border-radius: 30%;
    position: sticky;
    left: 700px;
    bottom: 100px;
}

.white{
    background-color: white;
    border: 1px solid black;
    /* right, left */
    /* float: right; */
}